<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/user_profile.css">
    <link rel="stylesheet" href="/css/game2.css" />
    <title><%= title %></title>
  </head>
  <body>

    <div id="card-container">
      <div class="card">
        <img src="/img/1.jpg" alt="image" style="width:100%" id="instrument-img">
        <div class="container">
          <h4><b>What Intrument is this?</b></h4>
          <form id="optn-form">
            <div class="radiobtn">
              <input type="radio" id="1"
                     name="ans" value="1" onclick="clickedNext(1);"/>
              <label for="1" id="optn1">Guitar</label>
            </div>
          
            <div class="radiobtn">
              <input type="radio" id="2"
                     name="ans" value="2" onclick="clickedNext(2);"/>
              <label for="2" id="optn2">Violin</label>
            </div>
          
            <div class="radiobtn">
              <input type="radio" id="3"
                     name="ans" value="3" onclick="clickedNext(3);"/>
              <label for="3" id="optn3">Sitar</label>
            </div>

            <div class="radiobtn">
              <input type="radio" id="4"
                     name="ans" value="4" onclick="clickedNext(4);"/>
              <label for="4" id="optn4">Mandollin</label>
            </div>
          
          </form>

          <form action="/users/update_game2/<%= profile_user.id %>" method="post" id="completed">
            <button name="game2" value="0" type="submit" id="completed-btn" class="button-84" style="width: 80%">Completed!</button>
          </form>
        </div>
      </div> 
    </div>
    

    <script src="/js/game2.js"></script>
  </body>
</html>