body {
  margin: 0;
  /* text-align: center; */
  background-image: linear-gradient(to left, #f7f7f7 23.8%, #fcdddd 92%);
  box-sizing: border-box; }
  body header .mini-logo {
    width: 80vw;
    display: inline-flex;
    position: absolute;
    top: 30px;
    left: 40px; }
    body header .mini-logo p {
      margin: 5px;
      font-size: 1.4rem;
      font-weight: bold; }
  body header .auth-links {
    width: 15vw;
    display: inline-flex;
    position: absolute;
    top: 30px;
    right: 20px; }
    body header .auth-links ul {
      margin: 5% 5px;
      display: flex; }
      body header .auth-links ul li {
        margin-right: 10px;
        list-style: none; }
  body header a {
    color: black;
    text-decoration: none; }
